<header></header>
<!--criar cabecario!-->

<body>
    <main class="page-conteiner">
        <!-- caixa maior -->

        <div class="robo-image">

        </div>

        <div class="login-container" [formGroup]="loginForm">
            <img class="logo" src="imgs/logo.png" alt="Logo do SenaiGPT">

            <h1 class="titulo">Login</h1>

            <input class="inpt" type="email" placeholder="Insira o e-mail" formControlName="email">
            <span class="errorMessage">{{emailErrorMessage}} </span>

            <input class="inpt" type="password" placeholder="Insira a senha" formControlName="password">
            <span class="errorMessage"> {{passwordErrorMessage}}</span>

            <button class="button " (click)="onLoginClick() ">Entrar</button>
            <a href="http://localhost:4200/users" style="color: blue;">Criar usuario</a>
            <span class="sussccessLogin " style="color: green; ">{{successStatusMessage}}</span>
            <span class="errorLogin" style="color: red;"> {{errorStatusMessage}}</span>

        </div>


    </main>

    <footer></footer>
    <!-- criar fundo -->


</body>