.container {
    display: flex;
}

.left-panel {
    height: 100vh;
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #2b2a2a;
}

.central-panel {
    height: 100vh;
    width: 80%;
    display: flex;
    /* ativar ao flex */
    flex-direction: column;
    /* mudar flex para colunas */
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 19;
}

.top {
    width: 100%;
    min-height: 300px;
    padding: 12;
    background-color: white;
    border: #1C1C1C;
    overflow: auto;
}

.button {
    width: 100%;
    min-height: 300px;
    background-color: white;
    color: black;
    padding: 12;
    height: auto;
    border-top: #1C1C1C solid 1px;
    
}

.btn-chat {
    width: 100%;
    height: 48px;
    margin-bottom: 4;
    border: 1px;
    border-radius: 10px;
    background-color: white;
    padding: 12;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}


/*espaço i e para edita o icone*/

.btn-Nchat {
    width: 100%;
    height: 40px;
    margin-bottom: 4;
    border: 20px;
    background-color: #1C1C1C;
    color: white;
    border-radius: 10px;
}

.bt2 {
    width: 70%;
    height: 48px;
    margin-bottom: 4;
    border: 1px;
    border-radius: 10px;
    background-color: white;
    padding: 12;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    /*alinhar na direita ou esquerda*/
}

.logo {
    width: 50%;
    height: 15%;
    margin-bottom: 50px;
    margin-top: auto;
}

.inf {
    width: 920px;
    height: 272px;
    max-width: 75%;
    display: flex;
    gap: 5px;
    margin-bottom: auto;
}

.exa {
    margin-left: 50;
    width: 280px;
    margin-bottom: 4;
    border: 1px;
    border-radius: 16px;
    padding: 12;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bx1 {
    display: flex;
    margin-bottom: 16;
    flex-direction: column;
}

p {
    display: flex;
    margin-bottom: 16px;
    padding: 6px;
    background-color:#e6e6e6;
    border-radius: 10px;
}

.input-container {
    margin-top: auto;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #e6e6e6;
    border-radius: 16px;
}

.input-container input {
    background-color: transparent;
    border: none;
    width: 400px;
    outline: none;
    /*nao aparecer linha do input*/
}

.input-container i {
    margin-right: 10px;
}

.send-button {
    color: #9fa0a2;
    margin-right: 0px !important;
}
.chat-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    /* Para corrigir o bug que acontece quando há muitas mensagens no chat */
    height: 100%;
    overflow: auto;

}

.chat-header {

    margin-bottom: 20px;

}

.chat-messages {

    width: 100%;

}

.chat-container .message-item {

    background-color: #ccc;
    border-radius: 12px 12px 0 12px;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-bottom: 20px;

}

.chat-container .message-item.chatbot {

    background-color: #ccc;
    border-radius: 12px 12px 12px 0px;
    padding: 20px;
    width: 300px;
    margin-left: unset;
    color: white;
    background: #000;
}