<div class="container">

    <aside class="left-panel">
        <!--do lado-->

        <div class="top">

            <button class="btn-Nchat"> <i class="fa-regular fa-message"> </i> New Chat</button>

            @for ( chat of chats; track $index) {

                <button class= "btn-chat" (click)="onChatClick(chat)">
                <i class="fa-regular fa-message"></i>
                {{ chat.chatTitle }}

                </button>
            }
            

        </div>

        <div class="button">

            <button class="bt2"> <i class="fa-regular fa-trash-can"></i> 
                Clear conversations</button>

            <button class="bt2"> <i class="fa-solid fa-circle-half-stroke"></i>
                 Light mode</button>

            <button class="bt2"><i class="fa-regular fa-user"></i> 
                My account</button>

            <button class="bt2"> <i class="fa-regular fa-circle-up"></i>
                 Updates & FAQ</button>

            <button class="bt2"> <i class="fa-regular fa-circle-xmark"></i>
                 Log out</button>

        </div>

    </aside>
    <!-- Conteúdo principal do site -->
    <main class="central-panel">

        <div class="logo">

            <img src="/imgs/logo.png" alt="logo">


        </div>

        <div class="inf">

            <div class="bx1">

                <h2 class="exa"> <i class="fa-regular fa-comments"></i> Examples
                </h2>

                <p> Explaim quantum computing insimple terms</p>

                <p> Got any creative ideas for a 1-year old's birthday</p>

                <p> How do i make an HTTP requestin Javascript </p>

            </div>

            <div class="bx1">

                <h2 class="exa"> <i class="fa-regular fa-comments"></i> Examples
                </h2>

                <p> Explaim quantum computing insimple terms </p>

                <p> Got any creative ideas for a 1-year old's birthday</p>

                <p> How do i make an HTTP requestin Javascript </p>

            </div>

            <div class="bx1">

                <h2 class="exa"> <i class="fa-regular fa-comments"></i> Examples
                </h2>

                <p> Explaim quantum computing insimple terms </p>

                <p> Got any creative ideas for a 1-year old's birthday</p>

                <p> How do i make an HTTP requestin Javascript </p>

            </div>



        </div>




        <div class="input-container">


            <i class="fa-solid fa-microphone"></i>

            <i class="fa-solid fa-image"></i>

            <input type="text" placeholder=" Type menssage">

            <i class="fa-solid fa-paper-plane"></i>

        </div>


    </main>

</div>